:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ebebeb;
  background-color: #131313dd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-text-dark: #b6b6b6;
  --color-text: #ebebeb;
  --color-background: #131313dd;
  --color-background-light: #252525dd;
  --color-border: #333333dd;
  --color-green: #5CB65Cdd;
  --color-green-dark: #498F46dd;

  --border-radius: 5px
}

* {
  user-select: none;
  -webkit-user-select: none;
  
  -webkit-user-drag: none;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin: 5vh 0
}

.search input {
  height: 45px;
  width: 500px;
  
  color: var(--colot-text);
  background-color: var(--color-background-light);
  border: 2px solid var(--color-border);
  
  border-radius: var(--border-radius);
  outline: none;
  padding: 0 1vw
}

.search button {
  color: var(--color-text);
  height: 45px;
  width: 125px;
  background-color: var(--color-green);
  border: 2px solid var(--color-green-dark);
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
}

.search button:hover {
  background-color: var(--color-green-dark);
}

.todos {
  width: 90vw;
  display: grid;
  column-gap: 2rem;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;
  padding-bottom: 5vh
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  background: var(--color-background-light);
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.item h1 {
  height: 15px;
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
  text-align: start;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item h3 {
  margin: 20px;
  height: 190px;
  text-align: start;
  font-size: 1rem;
  color: var(--color-text-dark);
}

.item .icon {
  margin: 20px 20px;
  font-size: 1.5rem;
  width: 32px;
  height: 32px;
  fill: none;
  stroke: var(--color-text);
  stroke-width: 2px;
}